body {
    font-family: Arial, sans-serif;
    text-align: center;
   /* background-color: #13a727; */
}

h1 {
    color: #333;
}

#create_new_post {
    display: none;
}

#create_new_post:target {
    display: block;
}